<div class="home-container">
    <div class="form-wrapper">
<form class="form-group home-form" action="/artist-search" method="GET">
  <input class="form-control home-input" placeholder="Search for artist!" type="search" name="artist" >
  <button class=" home-search" type="submit">Search for an Artist</button>
</form>
    </div>
</div>
